{% extends "layouts/base.html" %}
{% block title %} Создание нового пользователя {% endblock %} 
{% block stylesheets %}
<style>
  .bg-gradient-primary {
      background: #ff4b5f !important;
  }
  
  .text-primary {
      color: #ff4b5f !important;
  }
</style>
{% endblock stylesheets %}

{% block content %}
<section>
  <div class="page-header min-vh-100">
    <div class="container">
      <div class="row">
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-auto">
          <div class="card card-plain">
            <div class="card-header">
              <h4 class="font-weight-bolder text-center">
                Создание нового сотрудника
              </h4>
              <p class="mb-0 text-center">
                {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                  Введите ФИО, местоположение, уровень для создания нового сотрудника
                {% endif %}
              </p>
            </div>
            {% if success %}
              <div class="card-footer text-center pt-0 px-lg-2 px-1">
                
                <p class="mb-2 text-sm mx-auto text-center">
                  <a  href="{{ url_for('home_blueprint.index') }}"
                      class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Вернуться на главную страницу</a>
                </p>
              </div>
            {% else %}
              <!-- Ваш код формы регистрации -->
              <div class="card-body">
                <form role="form" method="post" action="">
                  {{ form.hidden_tag() }} 
                  <div class="input-group input-group-outline mb-3">
                    {{ form.FIO(class="form-control", placeholder="ФИО") }}
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    {{ form.location(class="form-control", type="password", placeholder="Местоположение") }}
                  </div>
                  <div class="input-group input-group-outline mb-3">
                    <select name="grade" class="form-control">
                      <option value="синьор">синьор</option>
                      <option value="мидл">мидл</option>
                      <option value="джун">джун</option>
                    </select>
                  </div>
                </form>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/gantt-schedule-timeline-calendar/dist/gstc.wasm.umd.min.js"></script>
{% endblock javascripts %}
