{% extends "layouts/base.html" %}

{% block title %} Задачи {% endblock %} 

{% block stylesheets %}
<style>
  .position-fixed {
    top: 1rem;
    right: 1rem;
  }
  .limited-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 5px; /* Измените это значение на ваше усмотрение */
    cursor: pointer;}
  </style>

{% endblock stylesheets %}

{% block content %}

<div style="text-align: right; margin-right: 10%;">
    <button type="submit_check" class="btn btn-info mt-3" style="background-color: #133d7e; color: white">Проверить задачи для пунктов</button>
    <button type="submit_add" class="btn btn-success mt-3" style="background-color: #217e1e; color: white">Распределить задачи</button>
</div>


  <div class="col-md-6 col-6 mx-auto">
    <div class="card">
        <div class="card-header mx-4 p-3 text-center">
            <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-lg">
                <i class="material-icons opacity-10">+</i>
            </div>
        </div>
        <div class="card-body pt-0 p-3 text-center">
            <h6 class="text-center mb-0">ЗДЕСЬ КОНСТРУКТОР</h6>
            <span class="text-xs">ЗДЕСЬ КОНСТРУКТОР</span>
            <hr class="horizontal dark my-3">
            <h5 class="mb-0">ЗДЕСЬ КОНСТРУКТОР</h5>
        </div>
    </div>
  </div>


  <div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white ps-3">Справочник задач</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="text-align: left;">Тип</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Название</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Приоритет</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Время выполнения</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Условия</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Уровень сотрудника</th>
                  <th class="text-secondary opacity-7"></th>
                  <th class="text-secondary opacity-7"></th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for task in tasks %}
                <tr>
                  <td  contenteditable="false" data-name="type" style="text-align: left; padding-left: 23px;">{{ task.type }}</td>
                  <td contenteditable="false" data-name="title">{{ task.title }}</td>
                  <td contenteditable="false" data-name="priority">{{ task.priority }}</td>
                  <td contenteditable="false" data-name="lead_time">{{ task.lead_time }}</td>
                  <td class="limited-text" contenteditable="false" data-name="condition">{{ task.condition }}</td>
                  <td class="limited-text" contenteditable="false" data-name="level">{{ task.level }}</td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-warning font-weight-bold text-xs bg-button edit-button" data-username="{{ task.type }}" data-toggle="tooltip" data-original-title="Изменить">
                      Изменить
                    </a>
                    <a href="javascript:;" class="text-danger font-weight-bold text-xs bg-button delete-button" style="text-align: left; padding-left: 23px;" data-username="{{ task.type }}" data-toggle="tooltip" data-original-title="Удалить">
                      Удалить
                    </a>
                    <a href="javascript:;" class="text-success font-weight-bold text-xs bg-button save-button ms-4" data-username="{{ task.type }}" data-toggle="tooltip" data-original-title="Сохранить">
                      Сохранить
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--

  <a href="#" class="btn btn-primary mb-1" data-bs-toggle="modal" data-bs-target="#addRowModal" style="background-color: #ff4b5f; color: white">
    Добавить строку
  </a>
  <div id="addRowModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="addRowForm">
                    <label for="newType">Тип:</label>
                    <input type="text" id="newType" name="newType" class="form-control" required>
                    <label for="newTitle">Название:</label>
                    <input type="text" id="newTitle" name="newTitle" class="form-control" required>
                    <label for="newPriority">Приоритет:</label>
                    <input type="text" id="newPriority" name="newPriority" class="form-control" required>
                    <label for="newLeadTime">Время выполнения:</label>
                    <input type="text" id="newLeadTime" name="newLeadTime" class="form-control" required>
                    <label for="newCondition">Условия:</label>
                    <input type="text" id="newCondition" name="newCondition" class="form-control" required>
                    <label for="newLevel">Уровень сотрудника:</label>
                    <input type="text" id="newLevel" name="newLevel" class="form-control" required>
                    <button type="submit" class="btn btn-primary mt-3">Добавить</button>
                </form>
            </div>
        </div>
    </div>
</div>
-->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white ps-3">Все задачи</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="text-align: left;">ФИО</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Название задачи</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Приоритет</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Время выполнения</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Адрес</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Статус</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Комментарии</th>
                  </tr>
                </thead>
                <tbody>
                  {% for full_task in full_tasks %}
                  <tr>
                    <td class="limited-text" contenteditable="false" data-name="fio" style="text-align: left; padding-left: 23px;">{{ full_task.fio }}</td>
                    <td class="limited-text" contenteditable="false" data-name="task_title">{{ full_task.task_title }}</td>
                    <td contenteditable="false" data-name="task_priority">{{ full_task.task_priority }}</td>
                    <td contenteditable="false" data-name="task_lead_time">{{ full_task.task_lead_time }}</td>
                    <td contenteditable="false" data-name="point_address">{{ full_task.point_address }}</td>
                    <td contenteditable="false" data-name="task_status">{{ full_task.task_status }}</td>
                    <td class="limited-text" contenteditable="false" data-name="task_comment">{{ full_task.task_comment }}</td>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="position-fixed bottom-1 end-1 z-index-2">
    <div class="toast fade hide p-2 mt-2 bg-white" role="alert" aria-live="assertive" id="customToast" aria-atomic="true">
        <div class="toast-header border-0">
            <i class="material-icons text-danger me-2"></i>
            <span class="me-auto text-gradient text-danger font-weight-bold">Уведомление</span>
            <small class="text-body" id="toastTimestamp"></small>
            <i class="fas fa-times text-md ms-3 cursor-pointer" data-bs-dismiss="toast" aria-label="Close"></i>
        </div>
        <hr class="horizontal dark m-0">
        <div class="toast-body">
        </div>
    </div>
</div>



{% endblock content %}


{% block javascripts %}
<script>
  document.addEventListener('click', function (event) {
    if (event.target.classList.contains('edit-button')) {
        const editButton = event.target;
        const row = editButton.closest('tr');

        row.querySelectorAll('[contenteditable="false"]').forEach(cell => {
            const dataName = cell.getAttribute('data-name');
            if (dataName !== 'type') {
                cell.contentEditable = 'true';
            }
        });
    } else if (event.target.classList.contains('delete-button')) {
        const type = event.target.getAttribute('data-username');
        const row = event.target.closest('tr');

        fetch(`/delete_task/${type}`, {
            method: 'POST',
        })
        .then(response => {
            if (response.status === 200) {
                row.remove(); 
                showToast('success', 'Задача успешно удалена');
            } else {
                showToast('danger', 'Произошла ошибка при удалении задачи');
            }
        });
    } else if (event.target.classList.contains('save-button')) {
        const type = event.target.getAttribute('data-username');
        const row = event.target.closest('tr');
        
        // Получите данные, которые нужно сохранить, из ряда
        const updatedTitle = row.querySelector('[data-name="title"]').textContent;
        const updatedPriority = row.querySelector('[data-name="priority"]').textContent;
        const updatedLeadTime = row.querySelector('[data-name="lead_time"]').textContent;
        const updatedCondition = row.querySelector('[data-name="condition"]').textContent;
        const updatedLevel = row.querySelector('[data-name="level"]').textContent;

        const data = {
            type: type,
            title: updatedTitle,
            priority: updatedPriority,
            lead_time: updatedLeadTime,
            condition: updatedCondition,
            level: updatedLevel
        };

        fetch(`/update_task/${type}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => {
            if (response.status === 200) {
                showToast('success', 'Данные успешно сохранены');
            } else {
                showToast('danger', 'Произошла ошибка при сохранении данных');
            }
        });
    }
});
/*
document.addEventListener('DOMContentLoaded', function () {
    const addRowForm = document.getElementById('addRowForm');

    addRowForm.addEventListener('submit', function (event) {
        event.preventDefault();

        const newType = document.getElementById('newType').value;
        const newTitle = document.getElementById('newTitle').value;
        const newPriority = document.getElementById('newPriority').value;
        const newLeadTime = document.getElementById('newLeadTime').value;
        const newCondition = document.getElementById('newCondition').value;
        const newLevel = document.getElementById('newLevel').value;

        const data = {
            type: newType,
            title: newTitle,
            priority: newPriority,
            lead_time: newLeadTime,
            condition: newCondition,
            level: newLevel
        };

        fetch('/add_task', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(result => {
            if (result.success) {
                const addRowModal = new bootstrap.Modal(document.getElementById('addRowModal'));
                addRowModal.hide();
                addRowForm.reset();

                // Скрыть поле ввода новой строки
                addRowForm.style.display = 'none';

                // Дополнительные действия по обновлению данных на странице, если необходимо

                showToast('success', 'Задача успешно добавлена');

                location.reload();
                showToast('success', 'Страница успешно перезагружена');
            } else {
                showToast('danger', 'Произошла ошибка при добавлении задачи: ' + result.msg);
            }
        });
    });
});
*/

document.addEventListener('DOMContentLoaded', function () {
  // Обработчик события для отображения полного текста при наведении
  document.querySelectorAll('.limited-text').forEach(function (cell) {
    cell.addEventListener('mouseover', function () {
      this.style.whiteSpace = 'normal';
      this.style.overflow = 'visible';
      this.style.maxWidth = 'none';
    });

    cell.addEventListener('mouseout', function () {
      this.style.whiteSpace = 'nowrap';
      this.style.overflow = 'hidden';
      this.style.textOverflow = 'ellipsis';
      this.style.maxWidth = '150px'; // Измените это значение на ваше усмотрение
    });
  });
});
function showToast(type, message) {
  const toast = document.getElementById('customToast');
  toast.querySelector('.toast-body').innerHTML = message;
  const timestamp = new Date().toLocaleTimeString();
  toast.querySelector('#toastTimestamp').innerText = timestamp;
  const bsToast = new bootstrap.Toast(toast);
  bsToast.show();
}

const bsToast = new bootstrap.Toast(toast);
    bsToast.show();
    setTimeout(() => {
        bsToast.hide();
    }, 5000);
</script>

{% endblock javascripts %}
