<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Ваши метатеги и стили -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyScheduler Example</title>
    <link rel="stylesheet" href="styles/style.css">
    <!-- Ваши стили и скрипты -->
</head>
<body>
    <h1>EasyScheduler</h1>
    <script type="text/javascript" src="itembox.js"></script>
    <div id="itembox" class="itembox"></div>
    <br>
    <div class="container">
        <!-- Добавленные строки с именами людей и днями недели -->
        <div id="peopleAndDays" class="people-and-days">
            <div class="day"></div>
            <div class="day">Monday</div>
            <div class="day">Tuesday</div>
            <div class="day">Wednesday</div>
            <div class="day">Thursday</div>
            <div class="day">Friday</div>
            <div class="day">Saturday</div>
            <div class="day">Sunday</div>

            <div class="person">Person 1</div>
            <div class="hour"></div>
            <div class="hour"></div>
            <!-- Добавьте другие часы для каждого дня и человека -->
            <!-- Например, <div class="hour"></div> для каждого часа -->
        </div>
        <!-- Конец добавленных строк -->

        <!-- Остальные элементы вашего расписания -->
        <div id="scheduler" class="Scheduler"></div>
    </div>
    
    <script type="text/javascript" src="./tools/jsontools.js"></script>
    <script type="text/javascript" src="./tools/savetask.js"></script>
    <script type="text/javascript" src="./tools/tabledesign.js"></script>
    <script src="main.js"></script>

    <div class="tooltiptext">Example made by Matthew Bromley (milpan)</div>
    <div id="edititem" class="edititem">
        <!-- Остальные элементы формы редактирования задачи -->
    </div>
</body>
</html>
