{% extends "layouts/base.html" %}

{% block title %} Карта {% endblock %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
    <body>
        <div id="map" class="map" style="width: 99%; height: 600px;"></div>
        <script src="https://api-maps.yandex.ru/2.1/?apikey=KEYAPI&lang=ru_RU" type="text/javascript"></script>
        <script>
            ymaps.ready(init);

            function init() {
                var myMap = new ymaps.Map('map', {
                    center: [45.035470, 38.975313],
                    zoom: 10
                });

                // Загрузка координат из Flask-маршрута
                fetch('/get_worker_locations')
                    .then(response => response.json())
                    .then(locations => {
                        locations.forEach(location => {
                            var coordinates = location.location.map(parseFloat);
                            console.log(locations);
                            var placemark = new ymaps.Placemark(coordinates, {
                                hintContent: location.FIO,
                                balloonContent: 'Это ' + location.FIO
                            });

                            myMap.geoObjects.add(placemark);
                        });
                    });
            }
        </script>
    </body>
{% endblock content %}

{% block javascripts %}

{% endblock javascripts %}