{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Сотрудники</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="text-align: left;">№</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" style="text-align: left;">ФИО</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Местоположение</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="text-align: left;">Уровень</th>
                  <th class="text-secondary opacity-7"></th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                {% for worker in workers %}
                <tr>
                  <td contenteditable="false" data-name="id" style="text-align: left; padding-left: 23px;">{{ worker.id }}</td>
                  <td contenteditable="true" data-name="FIO">{{ worker.FIO }}</td>
                  <td contenteditable="true" data-name="location">{{ worker.location }}</td>
                  <td contenteditable="true" data-name="grade">{{ worker.grade }}</td>
                  <td class="align-middle">
                    <a href="javascript:;" class="text-warning font-weight-bold text-xs bg-button edit-button" data-username="{{ worker.id }}" data-toggle="tooltip" data-original-title="Изменить">
                      Изменить
                    </a>
                    <a href="javascript:;" class="text-danger font-weight-bold text-xs bg-button delete-button" style="text-align: left; padding-left: 23px;" data-username="{{ worker.id }}" data-toggle="tooltip" data-original-title="Удалить">
                      Удалить
                    </a>
                    <a href="javascript:;" class="text-success font-weight-bold text-xs bg-button save-button ms-4" data-username="{{ worker.id }}" data-toggle="tooltip" data-original-title="Сохранить">
                      Сохранить
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Кнопка для открытия модального окна -->
  <a href="{{ url_for('home_blueprint.route_template', template='workers.html') }}" class="btn btn-primary"
            style="background-color: #ff4b5f; color: white;margin-top:20px; margin-right: 20px; float: right;">
    Добавить строку
  </a>

  <!-- Модальное окно для добавления новой строки -->
  <div id="addRowModal" class="modal">
    <div class="modal-content">
      <span class="close" id="closeAddRowModal">&times;</span>
      <form id="addRowForm">
        <label for="newFIO">ФИО:</label>
        <input type="text" id="newFIO" name="newFIO"><br>
        <label for="newLocation">Местоположение:</label>
        <input type="text" id="newLocation" name="newLocation"><br>
        <label for="newGrade">Уровень:</label>
        <input type="text" id="newGrade" name="newGrade"><br>
        <input type="button" value="Отправить" id="submitNewRow">
      </form>
    </div>
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  document.addEventListener('click', function (event) {
    if (event.target.classList.contains('save-button')) {
      // Код для сохранения
      const username = event.target.getAttribute('data-username');
      const row = event.target.closest('tr');

      // Получите данные, которые нужно сохранить, из ряда
      const id = row.querySelector('[data-name="id"]').textContent;
      const updatedFIO = row.querySelector('[data-name="FIO"]').textContent;
      const updatedLocation = row.querySelector('[data-name="location"]').textContent;
      const updatedGrade = row.querySelector('[data-name="grade"]').textContent;

      const data = {
        id: id,
        FIO: updatedFIO,
        location: updatedLocation,
        grade: updatedGrade
      };

      // Отправьте данные на сервер для сохранения
      fetch(`/update_user/${id}`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then(response => {
        if (response.status === 200) {
          // Успешно сохранено
          alert('Данные успешно сохранены');
        } else {
          // Обработка ошибок
          alert('Произошла ошибка при сохранении данных, такой пользователь уже существует');
        }
      });
    }
  });

  // Обработчик события нажатия кнопки "Изменить"
  function handleEdit(event) {
    const editButton = event.target;
    const row = editButton.closest('tr');

    row.querySelectorAll('[contenteditable="false"]').forEach(cell => {
      cell.contentEditable = 'true';
    });
  }

  // Обработчик события нажатия кнопки "Удалить"
  function handleDelete(event) {
    const deleteButton = event.target;
    const id = deleteButton.getAttribute('data-username');
    const row = deleteButton.closest('tr');

    fetch(`/delete_user/${id}`, {
      method: 'POST',
    })
    .then(response => {
      if (response.status === 200) {
        // Успешно удалено
        row.remove(); // Удалить строку из таблицы
        alert('Пользователь успешно удален');
      } else {
        // Обработка ошибок
        alert('Произошла ошибка при удалении пользователя');
      }
    });
  }




  document.getElementById("add-row-button").addEventListener("click", function() {
    document.getElementById("addRowModal").style.display = "block";
  });

  // Закрытие модального окна для добавления новой строки
  document.getElementById("closeAddRowModal").addEventListener("click", function() {
    document.getElementById("addRowModal").style.display = "none";
  });

  // Обработчик для кнопки "Отправить" в модальном окне
  document.getElementById("submitNewRow").addEventListener("click", function() {
    // Получите данные из полей формы
    const newFIO = document.getElementById("newFIO").value;
    const newLocation = document.getElementById("newLocation").value;
    const newGrade = document.getElementById("newGrade").value;

    // Создайте объект с данными
    const data = {
      FIO: newFIO,
      location: newLocation,
      grade: newGrade
    };

    // Отправьте данные на сервер для добавления в базу данных
    fetch('/add_worker', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data)
    })
    .then(response => {
      if (response.status === 200) {
        // Успешно добавлено
        alert('Новая строка успешно добавлена');
        document.getElementById("addRowModal").style.display = "none"; // Закрываем модальное окно

        // Перенаправление на страницу workers.html
        window.location.href = '/workers.html';
      } else {
        // Обработка ошибок
        alert('Произошла ошибка при добавлении новой строки');
      }
    });
  });
</script>
{% endblock javascripts %}
